[submodule "jxf-claude"]
	path = jxf-claude
	url = git@github.com:fj/jxf-agent-plugins-jxf-claude.git
[submodule "mod-jxf-fancy-details-claude"]
	path = mod-jxf-fancy-details-claude
	url = git@github.com:fj/jxf-agent-plugins-mod-jxf-fancy-details-claude.git
[submodule "foundry-finder-pi"]
	path = foundry-finder-pi
	url = git@github.com:fj/jxf-agent-plugins-foundry-finder-pi.git
[submodule "jxf-pi"]
	path = jxf-pi
	url = git@github.com:fj/jxf-agent-plugins-jxf-pi.git
